
	body
	{
		background: #141414;
	}
.image.fit img {
	width: 100%;
	height: auto;
}
	body,input,textarea,select
	{
		font-family: 'Noto_Serif';
		font-size: 11pt;
		line-height: 1.75em;
		color: #000000;
	}
h6 {
    font-size: 2em;
    text-transform: uppercase;
		font-weight: bold;
    margin-top: 1em;
    
}

	h1,h2,h3,h4,h5
	{
		text-transform: none;
		font-weight: bold;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}
		
	/* Change this to whatever font weight/color pairing is most suitable */
	strong, b
	{
		font-weight: bold;
		color: #000000;
	}
	
	em, i
	{
		font-style: italic;
	}

	/* Don't forget to set this to something that matches the design */
	a
	{
		text-decoration: underline;
		color: #272727;
	}

	a:hover
	{
		text-decoration: none;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
	}

	header
	{
		margin-bottom: 1em;
	}
	
		header h2
		{
		}
	
		header .byline
		{
			display: block;
			margin: 0.5em 0 0 0;
			padding: 0 0 0.5em 0;
		}
		
	footer
	{
		margin-top: 1em;
	}

	br.clear
	{
		clear: both;
	}

	/* Sections/Articles */
	
		section,
		article
		{
			margin-bottom: 3em;
		}
		
		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		.row > section,
		.row > article
		{
			margin-bottom: 0;
		}

	/* Images */

		.image
		{
			display: inline-block;
		}
		
			.image img
			{
				display: block;
				width: 100%;
			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.full
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Lists */

		ul.default
		{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
			ul.default li
			{
				padding: 0.60em 0em;
				border-top: 1px solid;
				border-color: rgba(255,255,255,.1);
			}
			
			ul.default li:first-child
			{
				padding-top: 0;
				border-top: none;
			}
			
			ul.default a
			{
				text-decoration: none;
				color: rgba(255,255,255,.5);
			}
			
			ul.default a:hover
			{
				text-decoration: underline;
			}
			
		ul.style {
		}
		
		ul.style li {
			margin: 0;
			padding: 2em 0em 1.5em 0em;
			border-top: 1px solid #ECECEC;
		}
		
		ul.style li:first-child
		{
			padding-top: 0;
			border-top: none;
		}
		
		ul.style img {
			float: left;
			margin-right: 20px;
		}
		
		ul.style p {
		}
		
		ul.style .posted {
			padding: 0em 0em 1em 0em;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 8pt;
			color: #A2A2A2;
		}
		
		ul.style .first {
			padding-top: 0px;
			border-top: none;
		}
							

	/* Buttons */
		
		.button
		{
			position: relative;
			display: inline-block;
			margin-top: 2em;
			padding: 0.90em 1.5em;
			background: #e95d3c;
			border-radius: 40px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.1em;
			color: #FFF;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			cursor: pointer;
		}

			.button:hover
			{
				background: #de3d27;
				color: #FFF !important;
			}
			
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		background: #2a2f27 url("https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbCxUz1-yvbN4wD3g5ddYYD8bh1Cz2VOrp30cZWWe-F7kYRZBLy7ukIRlGNQhQEcKkBk5IFd6L0CQiVlQleIk2h8hRkQ6brFyo=w2878-h1402-v0") no-repeat;
		background-size: cover;
	}

	#logo
	{
         line-height: 1.5;
	} 
	
	#nav
	{
	}

		#nav ul
		{
            font-size: .925rem;
			margin: 0;
		}

        #nav ul li a
        {
            color: black !important;
            font-size: 1.1rem !important;
        }
	
        #nav ul li.dropdown:hover .dropdown-content {
           display: block;
           background-color: white;
        }

        #nav ul li.dropdown .dropdown-content {
            display: none;
            position: absolute;
            margin-left: -2.25rem;
            background-color: clear;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        #nav ul li.dropdown .dropdown-content a {
            text-decoration: none !important;
            color: black;
            padding: 12px 16px;
            display: block;
        }

        #nav ul li.dropdown .dropdown-content a:hover {
            color: black;
            text-decoration: underline !important;
        }

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #333;
		color: #fff;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		background: #fff;
	}

    #main .custom-container {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 20px; 
    }

    #main .custom-container .image {
        flex: 0 0 auto; 
        margin-right: 40px; 
        max-width: calc(70vw / 3);
    }

    #main .custom-container .text {
        flex: 1; 
    } 

    .custom-container2 {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 100px; 
    }

    .custom-container2 .image {
        flex: 0 0 auto; 
        margin-right: 60px; 
        max-width: calc(100vw / 6);
    }

    .custom-container2 .text {
        flex: 1; 
        text-align: justify;
        text-justify: inter-word;
    } 

    .custom-container3 {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 20px; 
    }

    .custom-container3 .image {
        flex: 0 0 auto; 
        margin-right: 20px; 
        max-width: calc(100vw / 6);
    }

    .custom-container3 .text {
        flex: 1; 
    } 

    .custom-container4 {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 100px; 
    }

    .custom-container4 .image {
        flex: 0 0 auto; 
        margin-right: 60px; 
        max-width: calc(100vw / 6);
    }

    .custom-container4 .text {
        flex: 1; 
        text-align: justify;
        text-justify: inter-word;
    } 

    .custom-container5 {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 20px; 
    }

    .custom-container5 .image {
        flex: 0 0 auto;
        margin-right: 40px;
        max-width: calc(70vw / 3);
    }

    .custom-container5 .text {
        flex: 1; 
    } 

    .custom-container6 {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 20px; 
    }

    .custom-container6 .image {
      flex: 0 0 auto; 
      margin-right: 20px; 
      max-width: calc(100vw / 6);
    }

    .custom-container6 .text {
      flex: 1; 
    }

    .custom-container7 {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 20px; 
    }

    .custom-container7 .image {
      flex: 0 0 auto; /* Don't allow image to grow or shrink */
      margin-right: 20px; /* Adjust margin as needed */
      max-width: calc(100vw / 6);
    }

    .custom-container7 .text {
      flex: 1; /* Allow text to take remaining space */
    } 

    .accordion {
      width: 100%;
      max-width: 800px; /* Adjust the max-width as needed */
      margin: 0 auto;
    }

    .accordion-section {
      margin-bottom: 20px;
    }

    .accordion-title {
      background-color: #f1f1f1;
      color: #333;
      cursor: pointer;
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .accordion-content {
      display: none;
      padding: 15px;
      border-top: 1px solid #ddd;
    }

    .core-members-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

    .core-member {
        position: relative;
        margin-bottom: 20px;
        width: calc(33.33% - 10px); 
    }

    .image2 {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 200px; 
        overflow: hidden;
        position: relative;
    }

    .image2 img {
        width: auto;
        height: auto;
        max-width: 70%;
        max-height: 100%;
        display: block;
        margin: 0 auto; 
    }

    .member-name {
        text-align: center; 
        margin-top: 10px;
    }

    .toggle-bio {
        display: block;
        margin-top: 5px;
        background-color: grey;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 auto;
    }

    .toggle-bio:hover {
        background-color: dimgray;
    }

    .bio {
        display: none;
        position: absolute;
        width: calc(100% - 20px); 
        left: 0;
        top: calc(100% + 5px);
        background-color: white;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
        transition: opacity 0.3s ease;
    }

    .bio p {
        margin: 0;
    }

    .bio.show {
        display: block;
    }

    .click-me-link {
        display: block;
        margin-top: 10px;
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
    }

    .bold-link {
        font-weight: bold;
        text-decoration: none;
        color: #007BFF;
    }


    #button {
            text-align: left;
            background-color: white;
            padding: 20px; 
          }

    .back-button {
        font-size: 16px;
        padding: 8px 16px; 
        border: 1px solid #333;
        border-radius: 5px; 
        background-color: skyblue; 
        color: white; 
        cursor: pointer;
    }   

    .back-button:hover {
        background-color: deepskyblue; */
    }
            
          

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		position: relative;
		background: #f2f2f2;
	}
	
	#featured h2
	{
		display: block;
		margin-bottom: 2em;
		font-size: 1.4em;
	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		position: relative;
		background: #1d1d1d;
	}
	
	#footer h2
	{
		display: block;
		color: #FFF;
	}
